##### 13-Feb-2020

Given input in form of key value pairs of name:[marks] for a list of students, print the average marks array for the student name provided, showing 2 places after the decimal.

Example:  
'alpha':[20,30,40]  
'beta':[30,40,70]  

query_name = 'beta'  
expected output = (30+50+70)/3 = 50.00

Constraints:  
    2 < n <10  
    0 < marks[i] <100  
    length of marks arrays = 3

In [3]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split(' ')
    scores = list(map(float, line))
    student_marks[name] = scores

query_name = input()

2
harsh 25 26.5 28
anurag 26 28 30
anurag

In [5]:
print(student_marks)

{'harsh': [25.0, 26.5, 28.0], 'anurag': [26.0, 28.0, 30.0]}

In [6]:
print(query_name)

anurag

In [7]:
print(student_marks.get(query_name))

[26.0, 28.0, 30.0]

In [8]:
print(sum(student_marks.get(query_name)))

84.0

In [9]:
mean = sum(student_marks.get(query_name))/3
print(round(mean,2)) # Not sure why this doesn't work.

28.0

In [43]:
print("{:.2f}".format(mean))

26.50

In [4]:
# Final Output
print("{:.2f}".format(sum(student_marks.get(query_name))/3))

28.00