##### 12-Feb-2020

Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Sample Input 0

5    
Harry  
37.21  
Berry  
37.21  
Tina  
37.2  
Akriti  
41  
Harsh  
39

In [7]:
records=[]
scores=set()
second_names=[]
for _ in range(int(input())):
    name = input()
    score = float(input())
    records.append([name,score])
    scores.add(score)

4
Harry
37.21
Berry
37.21
Tina
37.2
Argent
39

In [8]:
records.sort()
scores.discard(min(scores))

for j in range(len(records)):
    if records[j][1]==min(scores):
        print(records[j][0])

Berry
Harry

##### 13-Feb-2020

Given input in form of key value pairs of name:[marks] for a list of students, print the average marks array for the student name provided, showing 2 places after the decimal.

Example:  
'alpha':[20,30,40]  
'beta':[30,40,70]  

query_name = 'beta'  
expected output = (30+50+70)/3 = 50.00

Constraints:  
    2 < n <10  
    0 < marks[i] <100  
    length of marks arrays = 3

In [24]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split(' ')
    scores = list(map(float, line))
    student_marks[name] = scores

query_name = input()

2
Harsh 25 26.5 28
Anurag 26 28 30
Harsh

In [25]:
student_marks

{'Harsh': [25.0, 26.5, 28.0], 'Anurag': [26.0, 28.0, 30.0]}

In [35]:
query_name

'Harsh'

In [37]:
student_marks.get(query_name)

[25.0, 26.5, 28.0]

In [38]:
sum(student_marks.get(query_name))

79.5

In [40]:
mean = sum(student_marks.get(query_name))/3

In [41]:
round(mean,2) # Not sure why this doesn't work.

26.5

In [43]:
print("{:.2f}".format(mean))

26.50

##### 14-Feb-2021

Consider a list (list = []). You can perform the following commands:  

insert i e: Insert integer  at position .  
print: Print the list.  
remove e: Delete the first occurrence of integer .  
append e: Insert integer  at the end of the list.  
sort: Sort the list.  
pop: Pop the last element from the list.  
reverse: Reverse the list.

Initialize your list and read in the value of  followed by  lines of commands where each command will be of the  types listed above.   
Iterate through each command in order and perform the corresponding operation on your list.

In [17]:
# Let's first look at how each function mentioned above works

list = []
list.insert(1,0)
print(list)
list.insert(0,1)
print(list)
list.remove(1)
print(list)
list.append(3)
print(list)
list.pop()
print(list)

[0]
[1, 0]
[0]
[0, 3]
[0]

In [18]:
# We see that input will be in string format.
# To execute expressions in string format, we can use eval function.
# Let's see how eval function works.

In [107]:
print(eval("5+9"))

14

In [106]:
# Join function adds elements in list with given element
l = ["1","2","3","4","5","6"]
print('a'.join(l))

1a2a3a4a5a6

In [62]:
execute = "insert"+"("+"1"+","+"0"+")"
print(execute)

insert(1,0)

In [108]:
eval("l."+execute)
print(l)

['1', '2', '3', '4', '5', '6', 3]

In [93]:
l1 = []

In [113]:
s = input().split()
execute = s[0]+"("+",".join(s[1:])+")"
print(execute)

pop 1
pop(1)

In [114]:
eval("l1."+execute)
l1

[3]

In [116]:
# Final Output
list=[]
n = int(input())
for _ in range(n):
    s = input().split()
    if s[0]=="print":
        print(list)
    else:
        execute = s[0]+"("+",".join(s[1:])+")"
        eval("list."+execute)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

 ##### 18-Feb-2021

#### Given an integer n, and n integers as input, create a tuple of those inputs.  Then compute the result of hash(t).

Sample Input
- 2      
- 1 2

In [ ]:
# Method 1

In [5]:
l1 = int(input())
l2 = input().split()

2
1 2

In [6]:
t = []
for i in range(l1):
    t.append(int(l2[i]))
t = tuple(t)
print(hash(t))

-3550055125485641917

In [7]:
# Method 2
t=[]
t = input().split()
t = map(int, t)
t=tuple(t)
print(hash(t))

1 2
-3550055125485641917

In [8]:
# Method 3
t = map(int, input().split())
t=tuple(t)
print(hash(t))

1 2
-3550055125485641917

In [9]:
# Method 4
t = tuple(map(int, input().split()))
print(hash(t))

1 2
-3550055125485641917

In [10]:
# Method 5
print(hash(tuple(map(int, input().split()))))

1 2
-3550055125485641917

In [11]:
n = int(input())
integer_list = map(int, input().split())
print(hash(tuple(integer_list)))

2
1 2
-3550055125485641917

What is hash?

Hash is basically a unique integer that is assigned to each value.  
It is used to compare two entities.

In [15]:
print(hash(4))
print(hash("4"))
print(hash(4.000))

4
-1369949174391806104
4

##### 18-Feb-2021

#### Given a string input, we are to convert all uppercase letters to lowercase and all lowercase letters to uppercase.

For Example:

HackerRank.com → hACKERrANK.COM  
Pythonist 2 → pYTHONIST 2

In [16]:
string = "HackerRank.com"

In [17]:
# Method 1
string.swapcase()

'hACKERrANK.COM'

In [24]:
# Method 2
newstr = ""
for i in string:
    if i.isupper():
        newstr += i.lower()
    elif i.islower():
        newstr += i.upper()
    else:
        newstr += i
print(newstr)

hACKERrANK.COM

##### 18-Feb-2021

Given a sentence, fill the spaces with hyphen.

In [11]:
line = "this is a string"

In [12]:
# Method 1
a = line.split()
line = "-".join(a)
print(line)

this-is-a-string

In [13]:
# Method 2
"-".join(line.split())

'this-is-a-string'

In [14]:
# Method 3
print(line.replace(" ","-"))

this-is-a-string

In [16]:
# Method 4
print(*line.split(),sep='-')

this-is-a-string

##### 21-Feb-2021

#### Given an immutable string, make changes to it.

Sample Input  
abracadabra  
5 k  
Output  
abrackdabra

In [2]:
string = "abracadabra"

In [3]:
# Method 1
l = list(string)
l[5] = 'k'
string = ''.join(l)
string

'abrackdabra'

In [4]:
# Method 2
string[:5]+'k'+string[6:]

'abrackdabra'

With input values from user

In [12]:
n,k = input().split()

5 k

In [15]:
string = input()

abracadabra

In [16]:
n = int(n)
string[:n]+k+string[n+1:]

'abrackdabra'

##### 22-Feb-2021

Given a string an substring, find the number of times the substring occurs in the string when traversing from left to right.

Sample Input  
ABCDCDC  
CDC  
Sample Output 
2

In [86]:
# There are 3 'CDC' in str
str = "ABBDCDCDCDC"
sub = "CDC"

In [66]:
# But str.count counts only 2
print(str.count(sub))

0

In [67]:
# This is because, count function only captures unique string.
# That is, it will not count intersecting string
print('CDCDC'.count('CDC'))

1

In [68]:
# This gives the index of the substring in the initial string
print(str.find(sub))

-1

In [69]:
# To count the number of 'sub' string in str[3:] 
print(str[3:].count(sub))

0

In [70]:
# We want to count the occurence of CDC at every index
print(str[4:].find(sub))

-1

In [71]:
# If sub string does not exist in str, it will result in -1.
print(str[6+2:].find(sub))

-1

In [15]:
# Lets understand the pattern.
# When we use the first find, it points us to where the first instance of 'CDC' is.
# After that, we add 1 to that index and rerun that code.
# This leads us to next instance.
# When no more instances can be found, it returns -1.
# Then we stop the loop and count the instances.

In [99]:
str = "In the convential world, it won't ever happen"
sub = "lD,"

In [103]:
count = 0
index = str.find(sub)
k = index
while index!=-1:
    index = str[k+1:].find(sub)
    k = k + index + 1 
    count+=1
    
print(count)

0

In [17]:
# Method 2

In [61]:
count = 0
for index in range(len(str)-len(sub)+1):
    if str[index:index+len(sub)]==sub:
        count+=1
        
print(count)

0

In [28]:
# Method 3
# Using startswith

In [62]:
count = 0
for i in range(len(str)):
    if (str[i:].startswith(sub)):
        count = count+1
        
print(count)

0

In [38]:
# Method 4

In [63]:
count = 0

while sub in str:
    index = str.find(sub)
    str = str[:index] + str[index + 1:]
    count += 1

print(count)

Final count of sub in str = 0