Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Sample Input 0

5  
Harry  
37.21  
Berry  
37.21  
Tina  
37.2  
Akriti  
41  
Harsh  
39

In [2]:
l=[]
scores=set()
second_names=[]
for _ in range(int(input())):
    name = input()
    score = float(input())
    l.append([name,score])
    scores.add(score)

5
b
21
a
20
d
20
c
25
e
27
b

In [30]:
scores = set()
records = []
n = int(input())
for _ in range(n):
    name = input()
    score = float(input())
    records.append([name, score])
    scores.add(score)
     
records.sort()
scores.discard(min(scores))

5
H
37.2
B
37.21
T
37.21
A
41
L
39

In [48]:
for j in range(n):
    if records[j][1]==min(scores):
        print(records[j][1])
        print(records[j][0])

37.21
B
37.21
T

In [25]:
records[4][0]

'Tina'

In [33]:
second_highest

37.2

In [38]:
37.21>37.2

True