##### 12-Feb-2020

Given the names and grades for each student in a class of  students, store them in a nested list and print the name(s) of any student(s) having the second lowest grade.

Sample Input 0

5    
Harry  
37.21  
Berry  
37.21  
Tina  
37.2  
Akriti  
41  
Harsh  
39

In [7]:
records=[]
scores=set()
second_names=[]
for _ in range(int(input())):
    name = input()
    score = float(input())
    records.append([name,score])
    scores.add(score)

4
Harry
37.21
Berry
37.21
Tina
37.2
Argent
39

In [8]:
records.sort()
scores.discard(min(scores))

for j in range(len(records)):
    if records[j][1]==min(scores):
        print(records[j][0])

Berry
Harry

##### 13-Feb-2020

Given input in form of key value pairs of name:[marks] for a list of students, print the average marks array for the student name provided, showing 2 places after the decimal.

Example:  
'alpha':[20,30,40]  
'beta':[30,40,70]  

query_name = 'beta'  
expected output = (30+50+70)/3 = 50.00

Constraints:  
    2 < n <10  
    0 < marks[i] <100  
    length of marks arrays = 3

In [24]:
n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split(' ')
    scores = list(map(float, line))
    student_marks[name] = scores

query_name = input()

2
Harsh 25 26.5 28
Anurag 26 28 30
Harsh

In [25]:
student_marks

{'Harsh': [25.0, 26.5, 28.0], 'Anurag': [26.0, 28.0, 30.0]}

In [35]:
query_name

'Harsh'

In [37]:
student_marks.get(query_name)

[25.0, 26.5, 28.0]

In [38]:
sum(student_marks.get(query_name))

79.5

In [40]:
mean = sum(student_marks.get(query_name))/3

In [41]:
round(mean,2) # Not sure why this doesn't work.

26.5

In [43]:
print("{:.2f}".format(mean))

26.50

##### 14-Feb-2021

Consider a list (list = []). You can perform the following commands:  

insert i e: Insert integer  at position .  
print: Print the list.  
remove e: Delete the first occurrence of integer .  
append e: Insert integer  at the end of the list.  
sort: Sort the list.  
pop: Pop the last element from the list.  
reverse: Reverse the list.

Initialize your list and read in the value of  followed by  lines of commands where each command will be of the  types listed above.   
Iterate through each command in order and perform the corresponding operation on your list.

In [1]:
list = []

In [3]:
list.insert(1,0)

In [4]:
list

[0]

In [5]:
list.insert(0,1)

In [6]:
list

[1, 0]

In [7]:
list.remove(1)

In [8]:
list

[0]

In [9]:
list.append(3)

In [11]:
list.pop()

3

AttributeError: 'list' object has no attribute 'print'